data/databento/mes/raw/glbx-mdp3-20210601-20210630.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20220401-20220430.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20220601-20220630.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20250801-20250831.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20250401-20250430.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20210401-20210430.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20210701-20210731.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20211001-20211031.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20220301-20220331.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20221001-20221031.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20230501-20230531.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20240601-20240630.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20260101-20260131.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20250901-20250930.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20190701-20190731.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20191101-20191130.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20200701-20200731.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20220701-20220731.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20221101-20221130.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20230301-20230331.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20240801-20240831.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20190901-20190930.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20210501-20210531.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20260901-20260910.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20190801-20190831.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20211101-20211130.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20240401-20240430.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20240501-20240531.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20260201-20260228.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20200401-20200430.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20200601-20200630.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20230701-20230731.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20250701-20250731.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20201201-20201231.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20210201-20210228.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20210301-20210331.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20210901-20210930.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20220201-20220228.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20230401-20230430.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20231201-20231231.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20260601-20260630.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20190601-20190630.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20240101-20240131.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20240301-20240331.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20251001-20251031.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20260701-20260731.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20260801-20260831.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20191201-20191231.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20200201-20200229.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20200901-20200930.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20240701-20240731.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20241001-20241031.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20250101-20250131.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20200801-20200831.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20220501-20220531.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20230601-20230630.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20241101-20241130.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20250301-20250331.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20250501-20250531.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20211201-20211231.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20220101-20220131.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20240201-20240229.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20250201-20250228.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20251101-20251130.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20190506-20190531.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20201001-20201031.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20210101-20210131.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20220901-20220930.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20230801-20230831.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20230901-20230930.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20231101-20231130.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20230101-20230131.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20240901-20240930.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20250601-20250630.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20260501-20260531.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20210801-20210831.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20221201-20221231.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20231001-20231031.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20191001-20191031.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20201101-20201130.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20260401-20260430.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20260301-20260331.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20200101-20200131.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20200301-20200331.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20200501-20200531.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20220801-20220831.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20230201-20230228.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20241201-20241231.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
data/databento/mes/raw/glbx-mdp3-20251201-20251231.ohlcv-1m.dbn.zst filter=lfs diff=lfs merge=lfs -text
